@model IEnumerable<DemoFIN3.Core.Models.Category>

@{
    ViewBag.Title = "Index";
}

<div class="card mb-4 mt-2">
    <div class="card-header d-flex justify-content-between align-items-center">
        <div class="text-uppercase">
            <i class="fas fa-table me-1"></i>
            Category
        </div>
        <div class="breadcrumb">
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
        </div>
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="col-1">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="category-des">
                            @Html.Raw(item.Description)
                        </td>
                        <td class="col-3">
                            <button data-id="@item.Id" id="btn-edit" class="btn btn-success">Edit</button>
                            <button class="btn btn-secondary btn-details" onclick="detailsFunc(this)" data-name="@item.Name" data-content="@item.Description" data-id="@item.Id">Details</button>
                            <button class="btn btn-danger btn-delete" onclick="deleteFunc(this)" data-name="@item.Name" data-id="@item.Id">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you want to delete this category?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeFunc()">Close</button>
                <button type="button" class="btn btn-danger" id="btn-delete-modal">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Details -->
<div class="modal fade" id="exampleModalCenterDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitleDetails">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align: justify">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeFunc()">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenterConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeFunc()">Close</button>
                <button type="button" class="btn btn-primary" id="btn-reload-modal">Reload</button>
            </div>
        </div>
    </div>
</div>

<style>
    .category-des {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        -webkit-line-clamp: 3;
        line-height: 1.7rem;
        text-align: justify;
    }
</style>

@section Scripts
{
    <script type="text/javascript">
        var showToast = (type = "success", message = "Delete success!") => {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": true,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": true,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
            toastr[type](message);
        }

        function closeFunc() {
            $('#exampleModalCenter').modal('hide');
            $('#exampleModalCenterDetails').modal('hide');
            $('#exampleModalCenterConfirm').modal('hide');
        }

        function deleteFunc(e) {
            let id = e.getAttribute('data-id');
            let name = e.getAttribute('data-name');
            $('#btn-delete-modal').data('id', id);
            $('#exampleModalCenter').modal('show');
            $('#exampleModalLongTitle').text(name);
        }

        function detailsFunc(e) {
            let name = e.getAttribute('data-name');
            let content = e.getAttribute('data-content');
            $('#exampleModalCenterDetails').modal('show');
            $('#exampleModalLongTitleDetails').text(name);
            $('.modal-body').text(content);
        }

        $(document).ready(function () {
            $('#btn-delete-modal').on('click', function () {
                let id = $(this).data('id');
                jQuery.ajax({
                    url: 'CategoriesAdmin/Delete',
                    method: 'Post',
                    data: { id },
                    success: function (res) {
                        $('#exampleModalCenter').modal('hide');
                        if (res.code === 1) {
                            showToast("warning", res.Message);
                        }
                        else if (res.code === 500) {
                            $('#exampleModalCenterConfirm').modal('show');
                            $('.modal-body').text("Data has been changed. Do you want to reload page?");
                        }
                        else {
                            showToast("success", res.message);
                            setTimeout(function () {
                            window.location.href = "@Url.Action("Index", "CategoriesAdmin")";
                            }, 3000);
                        }
                    },
                    error: function (j, e) {
                        showToast("error", "The system is maintenance!");
                    },
                })
            })

            $(document).on('click', '#btn-edit', function (e) {
                let id = $(this).data('id');
                jQuery.ajax({
                    url: "@Url.Action("CheckExist", "CategoriesAdmin")",
                    type: "Get",
                    data: { id },
                    success: function (res) {
                        if (res.status) {
                            window.location.href = "/Admin/CategoriesAdmin/Edit/" + id;
                        }
                        else {
                            $('#exampleModalCenterConfirm').modal('show');
                            $('.modal-body').text("Data has been changed. Do you want to reload page?");
                        }
                    }
                })
            })

            $('#btn-reload-modal').on('click', function () {
                window.location.href = "@Url.Action("Index", "CategoriesAdmin")";
            })
        })
    </script>

}
