@model IEnumerable<DemoFIN3.Core.Models.Chapter>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Story.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChapterNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChapterHeader)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChapterContent)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Story.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChapterNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChapterHeader)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChapterContent)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
