@model DemoFIN3.Core.Models.Author

@{
    ViewBag.Title = "Edit";
}

<script src="~/Areas/Admin/Themes/ckeditor/ckeditor.js"></script>

<div class="card-header d-flex justify-content-between align-items-center">
    <div class="text-uppercase">
        @Html.DisplayFor(model => model.Name) <i class="fas fa-chevron-right"></i>
        <i class="fas fa-edit"></i>
        Edit
    </div>
    <div class="breadcrumb">
    </div>
</div>


@using (Html.BeginForm("Edit", "AuthorsAdmin", new { area = "Admin" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", autofocus = "", tabindex = "1" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="row col-md-10">
                <div class="col-md-10">
                    @Html.LabelFor(model => model.ImageUrl, htmlAttributes: new { @class = "control-label" })
                    <div class="col text-box">
                        <input type="file" onchange="validateImage()" accept="image/*" name="ImageFile" class="custom-file-input form-control" id="customfile" tabindex="2">
                        <label class="custom-file-label" for="customfile">Choose story image</label>
                    </div>
                </div>
                <div class="col-md-2" style="text-align: end">
                    <img id="ImageFile" class="img-thumbnail" src="@Model.ImageUrl" width="100" height="60" />
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, 10, 137, new { @id = "Description", @class = "form-control", tabindex = "3" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                <script>
                    CKEDITOR.replace("Description");
                </script>
            </div>
        </div>

        <div class="form-inline col-md-10 d-flex justify-content-sm-end">
            <div>
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary", tabindex = "5" })
            </div>
            <div class="ml-2">
                <input type="submit" value="Save" class="btn btn-primary" tabindex="4" />
            </div>
        </div>
    </div>
}

@section Scripts{
    <script>
        function validateImage() {
            var formData = new FormData();
            var file = document.getElementById("customfile").files[0];
            formData.append("Filedata", file);
            var t = file.type.split('/').pop().toLowerCase();
            if (t != "jpeg" && t != "jpg" && t != "png" && t != "bmp" && t != "gif") {
                alert('Please select a valid image file');
                document.getElementById("customfile").value = '';
                return false;
            }
            return true;
        }
    </script>
    <script>
        $(document).ready(function () {
            $(".custom-file-input").on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                $('#ImageFile').attr('src', window.URL.createObjectURL($(this)[0].files[0]))
            });
        });
    </script>
}
